<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionString value ="Data Source=(localdb)\MSSQLLocalDB;Database=TicketManagement;Trusted_Connection=True;MultipleActiveResultSets=true"/>
	<testConnectionString value ="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TicketManagementTestDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
</configuration>